@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
:export {
  scroll: 0;
}

@keyframes arrow-anim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
@keyframes arrow-anim-r {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes img-anim-r {
  from {
    height: 344px;
  }
  to {
    height: 0px;
  }
}
@keyframes img-anim {
  from {
    height: 0px;
  }
  to {
    height: 344px;
  }
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Cabin, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

.kontakt-icon {
  position: relative;
  right: 10px;
}

.brot-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}

.c-primary {
  color: #B12C2A !important;
}

.row img {
  width: 600px;
}

img {
  pointer-events: none;
}

h2 {
  font-size: 33px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.05em;
  text-align: center;
}

h1 {
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
}

.small-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.center {
  text-align: center;
}

.text-container a {
  display: none;
}

nav a, .kontakt-container a.custom-btn {
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  text-decoration: none;
}

nav ul li img {
  width: 50px;
  margin-bottom: 10px;
}

nav ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul li {
  list-style: none;
}

nav {
  position: relative;
  bottom: 2px;
}

nav ul {
  display: flex;
  width: 805px;
  justify-content: space-between;
  align-items: baseline;
}

header img {
  width: 192px;
}

a[href="bistro.html"] img {
  transform: rotate(-45deg);
}

h1 > img {
  position: relative;
  bottom: 7px;
}

.custom-btn {
  position: relative;
  padding: 7px 35px;
}

.custom-btn img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 150px;
}

header {
  z-index: 3;
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.disclaimer {
  position: absolute;
  z-index: 4;
  margin-top: 100px;
  width: 500px;
}

#speisekarte {
  margin-top: -300px;
  padding-top: 300px;
}

@supports not (display: grid) {
  .blur::before {
    background: #f7f7f7;
  }
}
.blur::before {
  content: "";
  width: 100%;
  height: 63.5%;
  position: absolute;
  background: #f7f7f7bf;
  z-index: 3;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: auto;
  padding: 14px 20px 10px;
}

.bg-img {
  object-fit: cover;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.bg-layer {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 80vh;
  position: absolute;
  z-index: -1;
}

.rechtlich-container ul > li {
  list-style: initial;
}

.rechtlich-container ul {
  font-size: 19px;
}

.rechtlich-container a {
  color: black;
  font-weight: bold;
}

.rechtlich-container h3 {
  font-size: 1.4rem;
  margin-top: 3rem;
}

.rechtlich-container h4 {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: -0.5rem;
}

.kontakt-container p {
  margin-top: 1rem;
}

.kontakt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1010px;
  margin: auto;
}

.rechtlich-container p {
  text-align: left;
  margin-top: 1rem;
}

.rechtlich-container * {
  text-align: left;
}

.rechtlich-container {
  max-width: 1010px;
  margin: auto;
}

.map {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.kontakt-container ul {
  font-size: 19px;
}

.kontakt-container a {
  color: black;
  font-weight: bold;
}

.kontakt-container h3 {
  font-size: 1.4rem;
  margin-top: 3rem;
}

.kontakt-container h4 {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: -0.5rem;
}

button {
  text-transform: uppercase;
  background: none;
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  padding: 10px 25px 7px;
  font-size: 19px;
  cursor: pointer;
}

.p-unset {
  position: unset;
}

.hero-container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.h2-hero {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.h2-hero h2 {
  color: white;
  margin: 0 20px;
}

.hero-container h1 {
  color: white;
}

.hero-container p {
  width: 600px;
  color: white;
}

.mt-s {
  margin-top: 20px;
}

.mt-m {
  margin-top: 40px;
}

.mt-l {
  margin-top: 80px;
}

.mr-xs {
  margin-right: 8px;
}

.mr-m {
  margin-right: 25px;
}

.mr-l {
  margin-right: 80px;
}

.ml-m {
  margin-left: 25px;
}

.mt-xs {
  margin-top: 6px;
}

.kuh {
  position: absolute;
  right: 0;
  transform: translate(0px, -100%);
}

.container {
  max-width: 1010px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  display: flex;
  align-items: flex-start;
  cursor: auto;
}

.card-content {
  width: 284px;
}

.collapse {
  display: block;
  width: 1050px;
  position: relative;
  right: 3px;
  object-fit: cover;
}

.card-content p {
  width: 284px;
  text-align: left;
}

.bold {
  font-weight: bold;
}

.card-content p.dots {
  display: inline-block;
  width: max-content;
  float: right;
}

.card-content > div {
  height: 20px;
}

.card-content > div > span {
  margin-top: 5px;
  display: inline-block;
  opacity: 0.5;
  width: max-content;
  position: relative;
  bottom: 2px;
  font-size: 14px;
  cursor: pointer;
}

.info {
  margin-top: 5px;
}

.row {
  display: flex;
  align-items: center;
  height: 250px;
  width: 100%;
}

.horizonzal-line {
  height: 100%;
  width: 6px;
  background: black;
}

.text-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.menu-icon {
  width: 30px;
  height: 2px;
  background-color: white;
  display: none;
}

.menu-icon:not(:last-child) {
  margin-bottom: 5px;
}

.tippy-content h4 {
  opacity: 0.8;
}

.tippy-content li {
  opacity: 0.6;
}

a[href="#my-menu"] {
  display: flex;
  align-items: center;
}

.text-container p {
  width: 200px;
}

.text-container a {
  font-size: 19px;
  color: black;
  text-decoration: none;
}

.social {
  height: 360px;
}

.social p.small-text {
  font-weight: 500;
}

.social a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: 500;
}

.social > img {
  opacity: 0.3;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 360px;
  object-fit: cover;
}

.social-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

footer {
  background: #181818;
  width: 100%;
}

.logo-container img {
  width: 184px;
}

.logo-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.footer-container > div {
  display: flex;
  padding-top: 80px;
  max-width: 1010px;
  margin: auto;
}

.footer-container {
  max-width: 1010px;
  margin: auto;
  padding-bottom: 80px;
}

.footer-container a, .footer-container p {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.col {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 160px;
  justify-content: space-between;
}

.call {
  display: none;
}

.footer-links-contaienr {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.col:last-child {
  width: 90px;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.2);
}

@media (max-width: 1100px) {
  .category-wrapper {
    padding: 0px 20px;
  }

  img[src="assets/sk-left.svg"], img[src="assets/sk-right.svg"] {
    width: 350px;
  }
}
@media (max-width: 1023px) {
  nav ul {
    width: 635px;
    margin-left: auto;
  }

  .hero-container h1 img {
    bottom: unset;
    margin: 5px 0px;
  }

  .hero-container h1 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-wrapper {
    padding: 14px 20px 10px;
  }

  .card-container > .card {
    flex: 0 0 39%;
  }

  .category-wrapper div.row > img {
    width: 484px;
  }

  .horizonzal-line {
    height: 201px;
  }

  .row {
    height: auto;
  }

  .h2-hero img {
    display: none;
  }

  footer hr {
    display: none;
  }

  .kuh {
    width: 150px;
  }

  .nav-logo {
    width: 150px;
  }

  footer p.small-text, footer div.logo-container {
    margin-left: 20px;
  }

  .blur::before {
    height: 67%;
  }
}
@media (max-width: 854px) {
  nav ul {
    width: unset;
  }

  nav {
    width: clamp(560px, 110vw, 771px);
  }

  .col, .col:last-child {
    width: 85px;
  }

  footer div.logo-container {
    margin-right: 40px;
    margin-left: 20px;
  }

  .footer-links-contaienr {
    width: 60%;
  }

  .horizonzal-line {
    display: none;
  }

  .footer-container > div {
    justify-content: space-around;
    align-items: flex-start;
  }
}
@media (max-width: 767px) {
  nav ul li img {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .blur::before {
    height: 70.5%;
  }

  .menu-collapse > div {
    padding: 10px;
  }

  .custom-btn > img {
    display: none;
  }

  .h2-hero h2, h2 {
    font-size: 26.7px;
  }

  h1 {
    font-size: 57.6px;
  }

  .hero-container p {
    width: 100%;
    padding: 0px 20px;
  }

  .mt-s {
    margin-top: 10px;
  }

  .mt-m {
    margin-top: 20px;
  }

  .mt-l {
    margin-top: 40px;
  }

  .mr-xs {
    margin-right: 6px;
  }

  .mr-m {
    margin-right: 13px;
  }

  .mr-l {
    margin-right: 40px;
  }

  .ml-m {
    margin-left: 13px;
  }

  .mt-xs {
    margin-top: 6px;
  }

  p {
    font-size: 16px;
  }

  .text-container p {
    margin-top: 0px;
    width: 70%;
  }

  .row .ml-m {
    margin-left: 0;
  }

  .text-container {
    margin-bottom: 10px;
  }

  .category-wrapper:nth-child(2n) > .row {
    flex-direction: column-reverse;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .category-wrapper div.row > img {
    width: 100%;
    margin-right: 0;
  }

  footer p.small-text {
    width: 60%;
  }
}
@media (max-width: 673px) {
  .card-container > .card {
    flex: 0 0 auto;
    width: 300px;
    margin: auto;
    margin-bottom: 8px;
  }

  .logo-container img:first-child {
    margin-bottom: 20px;
  }

  .logo-container img {
    width: 120px;
  }

  .disclaimer {
    width: 300px;
  }

  .blur::before {
    height: 73.5%;
  }
}
@media (max-width: 600px) {
  .col, .col:last-child {
    height: 120px;
    margin-bottom: 30px;
    width: 100px;
  }

  .blur::before {
    height: 65%;
  }

  .footer-links-contaienr {
    flex-wrap: wrap;
    margin-left: 30px;
  }

  .footer-container > div {
    flex-direction: column;
  }

  .logo-container img:first-child {
    margin-right: 40px;
  }

  .logo-container img {
    width: 140px;
  }

  .logo-container {
    flex-direction: row;
    margin-bottom: 40px;
  }

  .kuh {
    width: 120px;
  }

  .call {
    line-height: 0.7;
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0px 20px 20px 0px;
    z-index: 4;
    padding: 20px;
    background-color: #B12C2A;
    border-radius: 50px;
  }

  .call-icon {
    pointer-events: none;
    width: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
